@charset "UTF-8";

@font-face {
  font-family: "portalrowerowy";
  src:url("../fonts/portalrowerowy.eot");
  src:url("../fonts/portalrowerowy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/portalrowerowy.woff") format("woff"),
    url("../fonts/portalrowerowy.ttf") format("truetype"),
    url("../fonts/portalrowerowy.svg#portalrowerowy") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "portalrowerowy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "portalrowerowy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bicycle:before {
  content: "\62";
}
.icon-camera:before {
  content: "\63";
}
.icon-church:before {
  content: "\64";
}
.icon-cloud:before {
  content: "\65";
}
.icon-double-arrow:before {
  content: "\66";
}
.icon-facebook-letter-logo:before {
  content: "\67";
}
.icon-flag:before {
  content: "\68";
}
.icon-flag-1:before {
  content: "\69";
}
.icon-forest:before {
  content: "\6a";
}
.icon-maps-and-flags:before {
  content: "\6b";
}
.icon-park:before {
  content: "\6c";
}
.icon-picture:before {
  content: "\6d";
}
.icon-road:before {
  content: "\6e";
}
.icon-sun:before {
  content: "\6f";
}
.icon-tree:before {
  content: "\70";
}
.icon-arrow-point-to-right-1:before {
  content: "\71";
}
.icon-arrowhead-thin-outline-to-the-left:before {
  content: "\72";
}
.icon-menu:before {
  content: "\61";
}
.icon-cancel:before {
  content: "\73";
}
.icon-instagram-logo:before {
  content: "\74";
}
.icon-006-pinterest:before {
  content: "\75";
}
.icon-008-youtube:before {
  content: "\76";
}
.icon-005-google-plus:before {
  content: "\77";
}
.icon-004-twitter:before {
  content: "\78";
}
.icon-003-linkedin:before {
  content: "\79";
}
.icon-009-clip:before {
  content: "\7a";
}
.icon-009-magnifying-glass:before {
  content: "\41";
}
.icon-006-youtube-logo:before {
  content: "\42";
}
.icon-021-printer:before {
  content: "\43";
}
.icon-tick:before {
  content: "\44";
}
.icon-phone-call:before {
  content: "\45";
}
.icon-blank-home-button:before {
  content: "\46";
}
.icon-013-contrast-icon:before {
  content: "\47";
}
.icon-018-email:before {
  content: "\48";
}
