// Rwd

$xs: 420px;

$sm: 576px;

$md: 768px;

$lg: 992px;

$xl: 1200px;

$xle: 1300px;

// Colors

$native-color: #2e3031;
$native-hover: #279237;
$native-secondary-color: #083283;
$native-tertiary-color: #279237;
$breadcrumbs-color:#888888;
// Radius 

$native-radius: 4px;


// Fonts

$font-base: "anago", sans-serif;
$font-base-size: 1.4rem;
$font-base-line-mobile: 2.4rem;
$font-base-line-desktop: 1.56;
$font-weight-bold: 700;

$font-native-size-sm: 1.4rem;
$font-native-size-lg: 1.6rem;

$font-primary: "anago", sans-serif;
$font-secondary: "", serif;

$letter-30: 1.2px;
$letter-50: 0.5px;
$letter-100: 1.9px;
