<!doctype html>
<html class="no-js" lang="pl">

    <!-- partial:views/_head.html -->
    <!-- partial -->

    <body>

    <main class="main">

        <!-- partial:views/_project-styles.html -->
        <!-- partial -->

    </main>

    <script>
    var headLink = document.createElement("link");
    headLink.href = "https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800&subset=latin-ext";
    headLink.rel = "stylesheet";
    document.head.appendChild(headLink);
    </script>

    <!-- partial:views/_scripts.html -->
    <!-- partial -->

    
    </body>
</html>
