button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: $native-color;
}

.btn-outline,
.btn-fill {
    background: #fff;
    color: $native-secondary-color;
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    font-style: normal;
    font-stretch: normal;
    font-family: $font-primary;

    //  text-transform: uppercase;
    min-height: 45px;
    border: 0;
    cursor: pointer;
    padding: 0 32px;
    border-radius: 4px;
    border: solid 2px $native-secondary-color;
    width: auto;
    transition: all 200ms ease-in-out;
    letter-spacing: $letter-50;
    text-transform: uppercase;

    @media (min-width: $md) {
        min-height: 48px;
        font-size: 1.4rem;
    }

    &:hover,
    &:focus {
        background: #fff;
        color: $native-tertiary-color;
        border: 2px solid $native-tertiary-color;
    }
}

.btn-outline.btn-outline--black {
    border: 1px solid #2e3031;
    color: $native-color;
   
    &:hover,
    &:focus {
        background: #fff;
        color: $native-tertiary-color;
        border: 1px solid $native-tertiary-color;
    }
}
.btn-outline.btn-outline--small{
    min-width:158px;
     font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.18;
    letter-spacing: $letter-100;
    min-height: 45px;
}

.btn-fill {
    background: $native-tertiary-color;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.18;
    letter-spacing: $letter-100;
    border: 2px solid $native-tertiary-color;
    min-height: 45px;

    &:hover,
    &:focus {
        background: #2db942;
        border: 2px solid #2db942;
        color: #fff;
    }
}

.text-link {
  
    display: inline-block;
    font-weight: 700;
    color:$native-secondary-color;

     text-transform: uppercase;
    font-size: 1.3rem;

    @media (min-width: $md) {
        font-size: 1.4rem;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}