.header-main {
    &__nav {
        display: none;
        position: fixed;
        background: #fff;
        left: 0;
        right: 0;
       // top: 0;
        margin-top: 118px;
        padding: 0px;
        z-index: 1;

        &__list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: block;
                border-bottom:1px solid rgba(204, 204, 204, 0.23137254901960785);
                a{
                	display: block;
                	padding: 5px 15px;
                }
            }
        }
    }
}