<div class="container">
	<div class="row">
		<div class="col-12 col-md-2">
			<nav class="footer-main__nav">
				<h5 class="footer-main__nav__heading">Serwis</h5>
				<ul class="footer-main__nav__list">
					<li><a href="mapa.html">Mapa rowerowa</a></li>
					<li><a href="trasy.html">Trasy rowerowe</a></li>
					<li><a href="aktualnosci.html">Aktualności</a></li>
					<li><a href="zabytki.html">Przyroda i zabytki</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-12 col-md-2">
			<nav class="footer-main__nav">
				<h5 class="footer-main__nav__heading">Informacje</h5>
				<ul class="footer-main__nav__list">
					<li><a href="kontakt.html">Kontakt</a></li>
					<li><a href="index.html">Polityka prywatności</a></li>
					<li><a href="index.html">Mapa serwisu</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-12 col-md-2">
			<nav class="footer-main__nav">
				<h5 class="footer-main__nav__heading">Kontakt</h5>
				<ul class="footer-main__nav__list">
					<li><a href="tel:+44 345 678 903">+44 345 678 903</a></li>
					<li><a href="mailto:rowerowy@powiat-sredzki.pl">rowerowy@powiat-sredzki.pl</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-12 col-md-6">
			<div class="footer-main__logo">
				<img src="img/logos/logo_ue.svg" class="img-fluid" alt="">
			</div>
		</div>
	</div>
	<div class="row footer-main__copyrights">
	 	<div class="col-12">
            <hr class="line-styles">
	 	</div>
		<div class="col-12 col-sm-6">
			<span class="copyrights">© Rowerowy Powiat Średzki 2018. Wszelkie prawa zasteżone.</span>
		</div>
		<div class="col-12 col-sm-6">
			<span class="authors">Realizacja <a href="http://www.novapr.pl" target="_blank">NovaPR</a></span>
		</div>
	</div>
</div>