
	<div class="container fixed-top">
		<a href="index.html" class="header-main__logo" title="Przejdź do strony głównej"><img src="img/logo_portalrowerowy.svg"  alt="Średzki portal rowerowy - logo"></a>
		<button type="button" class="header-main__nav-toggle" id="nav-toggle"><span class="icon icon-menu" aria-label="Menu"></span></button>
		<nav class="header-main__nav" id="main-nav" role="navigation">
			<ul class="header-main__nav__list">
				<li><a href="mapa.html">Mapa rowerowa</a></li>
				<li><a href="projekt.html">O projekcie</a></li>
				<li><a href="aktualności.html">Aktualności</a></li>
				<li><a href="powiat.html">O powiecie</a></li>
				<li><a href="zabytki.html">Przyroda i zabytki</a></li>
			</ul>
		</nav>
	</div>
	<div class="container">
		<section class="entry-content">
            <div class="container">
                <div class="entry-content__text">
                    <h1 class="primary-heading">Trasy rowerowe</h1>
                    <h2 class="secondary-heading">Odkryj piękno Powiatu Średzkigo</h2>
                    <p class="description">
                        Szanowni Państwo, z prawdziwą przyjemnością witam Państwa na nowym portalu – Rowerowy Powiat Średzki. Radość ta wynika przynajmniej z dwóch powodów. Pierwszy to rosnąca liczba ścieżek rowerowych, których budowa ma wiele korzyści i zalet.
                    </p>
                    <a href="projekt.html" class="btn-outline">Zobacz więcej</a>
                </div>
            </div>
        </section>
        <!-- <img src="img/img_header.svg" alt="" class="img-fluid entry-mobile-bg"> -->
	</div>
